# --------------------------------------------------
# Python
# --------------------------------------------------
__pycache__/
*.py[cod]

# --------------------------------------------------
# Local launcher scripts
# --------------------------------------------------
run_spark_slurm_local.sh
run_spark_local.sh

# --------------------------------------------------
# SLURM logs
# --------------------------------------------------
slurm-*.out

# --------------------------------------------------
# Local test outputs
# --------------------------------------------------
tmp/
test_output/# Local launcher scripts
run_spark_slurm_local.sh
run_spark_local.sh


# --------------------------------------------------
# SLURM output logs
# --------------------------------------------------
slurm-*.out
